<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#"></use></svg>
        <span class="fs-4">FlickrClone</span>
      </a>
</header>

<main>
  <section class="py-1 container">
    <div class="row py-lg-1">
      <h4>Recherche de photos Flickr</h4>
      <form>
        <div class="mb-3">
          <input class="form-control form-control-lg" type="text" placeholder="Termes de recherche" aria-label=".form-control-lg example">
        </div>

      <h5>Filtres</h5>


<label for="before-date" class="form-label">Photos mises en ligne</label>
<div class="input-group mb-3">
  <span class="input-group-text">Après le</span>
  <input type="date" class="form-control" id="after-date">
  <span class="input-group-text">et avant le</span>
  <input type="date" class="form-control" id="before-date">
</div>

    <div class="mb-1">
      <label for="tags" class="form-label">Tags</label>
      <input id="tags" class="form-control" type="text">

    </div>

    <div class="mb-3 form-check">
      <input id="tags-andor" class="form-check-input" type="checkbox">
      <label class="form-check-label" for="tags-andor">Images contenant tous les tags</label>
    </div>

    <div class="mb-3">
      <label for="sort-type" class="form-label">Trier par</label>
      <select id="sort-type" class="form-select">
        <option value="1" selected>Pertinence</option>
        <option value="2">Date de mise en ligne (crois.)</option>
        <option value="3">Date de mise en ligne (décr.)</option>
      </select>
    </div>

      <button type="submit" class="btn btn-primary">Chercher</button>





      </form>
    </div>
  </section>

</main>