<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#"></use></svg>
    <span class="fs-4">FlickrClone</span>
  </a>

  <style type="text/css">
    body.modal-open {
    overflow: hidden;
    position: fixed;
}

a { color: inherit; } 

body {
    overflow-x: hidden;
    overflow-y: scroll !important;
}

  </style>


</header>

<main>
  <section class="py-1 container">
    <div class="row py-lg-1">
      <h4>Recherche de photos Flickr</h4>
      <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
        <div class="mb-3">
          <input class="form-control form-control-lg" type="text" placeholder="Termes de recherche" name="main_search" ngModel>
        </div>

        <h5>Filtres</h5>


        <label for="before-date" class="form-label">Photos mises en ligne</label>
        <div class="input-group mb-3">
          <span class="input-group-text">Après le</span>
          <input type="date" class="form-control" id="after-date" name="after_date" ngModel>
          <span class="input-group-text">et avant le</span>
          <input type="date" class="form-control" id="before-date" name="before_date" ngModel>
        </div>

        <div class="mb-1">
          <label for="tags" class="form-label">Tags</label>
          <input id="tags" class="form-control" type="text" name="tags" ngModel>

        </div>

        <div class="mb-3 form-check">
          <input id="tags-require-all" class="form-check-input" type="checkbox" name="tags_require_all" ngModel>
          <label class="form-check-label" for="tags-require-all">Chercher des images contenant <strong>tous</strong> les tags</label>
        </div>

        <div class="mb-3">
          <label for="sort-type" class="form-label">Trier par</label>
          <select id="sort-type" name="sort_type" class="form-select" ngModel="relevance">
            <option value="relevance">Pertinence</option>
            <option value="date-posted-asc">Date de mise en ligne (crois.)</option>
            <option value="date-posted-desc">Date de mise en ligne (décr.)</option>
          </select>
        </div>

        <div class="mb-3"><button class="btn btn-primary">Chercher</button></div>
      

      </form>
    </div>
  </section>



  

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        
        <div class="col" *ngFor="let photo of photos; index as i; first as isFirst">
          <a (click)="openImageModal(photo)">
          <div class="card shadow-sm">

            <div class="card-img-top" style="text-align: center;">
            <img class="mx-auto" style="max-width: 100%;" [attr.src]="getImageLink(photo)" preserveAspectRatio="xMidYMid slice" focusable="false"/>
            </div>

            <div class="card-body">
              <p class="card-text">{{photo.title}}</p>
            </div>
          </div>
          </a>
        </div>

        
      </div>
    </div>
  </div>

  <div class="modal fade" id="imageModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{selected_photo?.title}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img *ngIf="modal_image_url!=''" [attr.src]="modal_image_url" class="img-fluid">
      
        <div *ngIf="selected_photo_details!=undefined">
          <ul class="list-group">
            <li class="list-group-item">Utilisateur: {{selected_photo_details.owner.username}}</li>
            <li class="list-group-item">Posté le: {{this.selected_photo_details.dates.posted_str}}</li>

            <li class="list-group-item">Tags:  <span *ngFor="let ta of selected_photo_details.tags.tag; index as i; first as isFirst"><span class="badge text-bg-secondary">{{ta.raw}}</span>&nbsp;</span></li>
            <li class="list-group-item">Description: {{selected_photo_details.description._content}}</li>
 
          </ul>
        </div>

        <br/>
        <h6>Commentaires</h6>

        <div class="card mb-4" *ngFor="let comm of selected_photo_comments; index as i; first as isFirst">
          <div class="card-body">
            <p>{{comm._content}}</p>
            <div class="d-flex justify-content-between">
              <div class="d-flex flex-row align-items-center">
                <p class="small mb-0"><i>{{comm.authorname}}</i></p>
              </div>
              <div class="d-flex flex-row align-items-center">
                <p class="small text-muted mb-0">{{parseDate(comm.datecreate)}}</p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
          <a [attr.href]="this.selected_photo_url">Voir sur Flickr</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="errorModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Erreur de l'API</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          {{errorMessage}}
      </div>
      <div class="modal-footer">
          <strong>{{errorMessageFooter}}</strong>
      </div>
    </div>
  </div>
</div>


</main>